<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/ninja/add" method="POST">
        <select name="dojos" id="">
            {%for dojo in list_dojos%}
            <option value="{{dojo.id}}">{{dojo.name}}</option>
            {%endfor%}
        </select>
        <label for="first_name">first_name</label>
        <input type="text" name="first_name">
        <label for="last_name">last_name</label>
        <input type="text" name="last_name">
        <label for="age">age</label>
        <input type="number" name="age">
        <button>create</button>
    </form>
    <a href="/">Home</a>
</body>
</html>